# Intro

This is the main notebook for the Capstone Project course

In [667]:
# Standard Libraries
import pandas as pd
import numpy as np
import os
import warnings
import json

# Plotting Libraries
import matplotlib.pyplot as plt
import seaborn as sns

# set Theme
plt.style.use('seaborn')
sns.set_theme(style="whitegrid")
warnings.filterwarnings('ignore')

In [668]:
# Set Paths
path = os.getcwd()
sourceDataPath = path +'\\SourceData\\'
exportPath = path +'\\Export\\'
trimmedCSVPath = path +'\\SourceData\\'
print(f"Source Data:",sourceDataPath)
print(f"Exports:",exportPath)
print(f"Trimmed CSV:",trimmedCSVPath)

Source Data: C:\Users\TheCu\OneDrive\Documents\Grad-School-Docs\CapstoneProject\Repo\SourceData\
Exports: C:\Users\TheCu\OneDrive\Documents\Grad-School-Docs\CapstoneProject\Repo\Export\
Trimmed CSV: C:\Users\TheCu\OneDrive\Documents\Grad-School-Docs\CapstoneProject\Repo\SourceData\

# Resuable Functions

In [669]:
# Create Large CSV Trim Function

def largeCSVTrim(largeCSVPath, CSVName, trimQuery):
    tempDF = pd.read_csv(largeCSVPath+CSVName)
    df = pd.concat((x.query(trimQuery) for x in tempDF), ignore_index=True)
    return df

In [670]:
# Takes a DF and Producecs a Report of Null Values
def nullAnalysis(df):
    row = []
    null_summaryDF = pd.DataFrame(columns = ["Variable","Observations","Nulls","Null_Per","Num_Unique","Type"])
    for column in df:
        var = column
        countOfObs = len(df[var])
        countOfNull = df[var].isnull().sum()
        perOfNull = round((100 * countOfNull) / countOfObs,3)
        numUnique = df[var].nunique()
        type  = df[var].dtypes
        # Append to Summary DF
        row = [var, countOfObs,countOfNull,perOfNull,numUnique,type]
        df_length = len(null_summaryDF)
        null_summaryDF.loc[df_length] = row
    # Get Summary Stats
    countofVars = len(null_summaryDF)
    countofNotNull = (null_summaryDF['Nulls'] == 0).sum()
    countofNull = (null_summaryDF['Nulls'] != 0).sum()
    print(f"Count of Variables:",countofVars)
    print(f"Count of Variables without nulls:",countofNotNull)
    print(f"Count of Variables with null :",countofNull)
    # Format Summary
    summaryDF = null_summaryDF[null_summaryDF['Nulls'] != 0].sort_values(by=['Nulls'],ascending=False)
    return summaryDF

In [671]:
#statRow = []
cleanActionsDF = pd.DataFrame(columns = ['DF','ActionDesc','List-of-Cols','ResultShape'])

def cleanActionsReport (df,df_name,actionDesc, cols):
    # Collect Stats
    row =[]
    actionDesc = actionDesc
    listCols = cols
    resultShape = df.shape
    # Collect Results
    row = [df_name,actionDesc, listCols, resultShape]
    # append stats to Summary Stats DF
    df = cleanActionsDF
    df_length = len(df)
    df.loc[df_length] = row
    return df

In [672]:
# Dropping Missing Values over 30% -- Will print out a table that shows what variables are dropped
def dropCols_nullThresh(df,thresh,df_name,actionDesc):
    thresh = 1-thresh
    column_names_before = df.columns.to_list()
    before = df.shape[1]
    df = df.dropna(thresh=df.shape[0]*thresh,how='all',axis=1)
    after = df.shape[1]
    column_names_after = df.columns.to_list()
    columns_dropped = []
    for i in column_names_before:
        if i not in column_names_after:
            columns_dropped.append(i)
    total_dropped = before - after
    df = df
    print(f"dropped: {total_dropped}")
    print(f"columns that where dropped where: {columns_dropped}")
    # record actions in summary report
    cleanActionsReport(df,df_name,actionDesc,columns_dropped)
    return df

In [673]:
# Dropping Missing Values over 30% -- Will print out a table that shows what variables are dropped
def dropCols_uniqueThresh(df,thresh,df_name,actionDesc):
    thresh = thresh
    column_names_before = df.columns.to_list()
    before = df.shape[1]
    df = df.drop(columns=df.columns[df.nunique()==1])
    after = df.shape[1]
    column_names_after = df.columns.to_list()
    columns_dropped = []
    for i in column_names_before:
        if i not in column_names_after:
            columns_dropped.append(i)
    total_dropped = before - after
    df = df
    print(f"dropped: {total_dropped}")
    print(f"columns that where dropped where: {columns_dropped}")
    # record actions in summary report
    cleanActionsReport(df,df_name,actionDesc,columns_dropped)
    return df

# Source Data

## Prep -- Trim Large CSV
(Note: Creates trimmed version of CSV's for import.
Only need to run this once, and then comment out to save time)

In [674]:
# Trim Securities_Full
largeCSVPath = 'C:/Users/TheCu/OneDrive/Documents/Grad-School-Docs/CapstoneProject/SourceData_Orig/'
CSVName = 'Securities_Full.csv'
trimQuery = "tic == 'SAM'"

print("Starting...")
# Securities_SAM = largeCSVTrim(largeCSVPath,CSVName,trimQuery) # Get Trimmed Data
# Securities_SAM.to_csv(trimmedCSVPath+'Securities_SAM.csv') # Export Trimmed Data

#View Trimmed Dataframe
print("Securities_SAM:")
# Securities_SAM.sample(3)

Starting...
Securities_SAM:

In [675]:
# Trim Fundamentals_Full
largeCSVPath = 'C:/Users/TheCu/OneDrive/Documents/Grad-School-Docs/CapstoneProject/SourceData_Orig/'
CSVName = 'Fundamentals_Full.csv'
trimQuery = "gsector == 30"

print("Starting...")
fundamentals = pd.read_csv(largeCSVPath+CSVName)
fundamentals['gsector'] = fundamentals['gsector'].astype(str)
fundamentals = fundamentals[fundamentals['gsector'] == '30']
fundamentals.to_csv(trimmedCSVPath+'Fundamentals_30.csv') # Export Trimmed Data

#View Trimmed Dataframe
print("Fundamentals_30:")
fundamentals.shape

Starting...
Fundamentals_30:

(2323, 1768)

In [676]:
# Trim Stocks_DS
largeCSVPath = 'C:/Users/TheCu/OneDrive/Documents/Grad-School-Docs/CapstoneProject/SourceData_Orig/'
CSVName = 'Stocks_DS.csv'
trimQuery = "tic == 'SAM'"

print("Starting...")
# Stocks_SAM = largeCSVTrim(largeCSVPath,CSVName,trimQuery) # Get Trimmed Data
# Stocks_SAM.to_csv(trimmedCSVPath+'Stocks_SAM.csv') # Export Trimmed Data

#View Trimmed Dataframe
print("Stocks_SAM:")
# Stocks_SAM.sample(3)

Starting...
Stocks_SAM:

## Get Source Data
(Note: Creates trimmed version of CSV's for import.
Only need to run this once, and then comment out to save time)

In [677]:
# Get Fundamentals
file = 'Fundamentals_30.csv'
fundamentals = pd.read_csv(sourceDataPath+file,skipinitialspace = True)
fundamentals.head()

,Unnamed: 0,gvkey,datadate,fyear,indfmt,consol,popsrc,datafmt,tic,conm,...,priusa,sic,spcindcd,spcseccd,spcsrc,state,stko,weburl,dldte,ipodate
0,218,1239,9/30/2010,2010,INDL,C,D,SUMM_STD,ACV,ALBERTO-CULVER CO,...,1,2844,215.0,978.0,A-,IL,0,www.alberto.com,5/11/2011,NaN
1,219,1239,9/30/2010,2010,INDL,C,D,STD,ACV,ALBERTO-CULVER CO,...,1,2844,215.0,978.0,A-,IL,0,www.alberto.com,5/11/2011,NaN
2,242,1266,9/30/2010,2010,INDL,C,D,SUMM_STD,ALCO,ALICO INC,...,1,100,112.0,970.0,B-,FL,0,www.alicoinc.com,NaN,NaN
3,243,1266,9/30/2010,2010,INDL,C,D,STD,ALCO,ALICO INC,...,1,100,112.0,970.0,B-,FL,0,www.alicoinc.com,NaN,NaN
4,244,1266,9/30/2011,2011,INDL,C,D,SUMM_STD,ALCO,ALICO INC,...,1,100,112.0,970.0,B-,FL,0,www.alicoinc.com,NaN,NaN

In [678]:
# Get Securities

In [679]:
# Get Stocks

In [680]:
# Get Ratings

# Data Clean-Up

## Fundamentals

In [681]:
# Drop Obvious Un-needed 1
cleanActionsDesc = "Dropped obvious low value columns -- 1"
df_name = "Fundamentals"

colsToDrop = ['datadate','apdedate','fdate','pdate','fyr','add1','addzip','busdesc','city','conml',
              'ein','fax','fyrc','incorp','loc','phone','state','weburl']

fundamentals = fundamentals.drop(columns=colsToDrop)
cleanActionsReport(fundamentals,df_name,cleanActionsDesc,colsToDrop)

,DF,ActionDesc,List-of-Cols,ResultShape
0,Fundamentals,Dropped obvious low value columns -- 1,"[datadate, apdedate, fdate, pdate, fyr, add1, ...","(2323, 1751)"

In [682]:
# Initial Column Reduce -- Drop Obvious -- Nulls
# Run Initial -- Null Report
fundamentals_nullReport = nullAnalysis(fundamentals)
fundamentals_nullReport

Count of Variables: 1751
Count of Variables without nulls: 25
Count of Variables with null : 1726

     Variable Observations Nulls  Null_Per Num_Unique     Type
876     xstfo         2323  2323   100.000          0  float64
1387  isfi_dc         2323  2323   100.000          0  float64
704     tdscd         2323  2323   100.000          0  float64
705     tdsce         2323  2323   100.000          0  float64
706      tdsg         2323  2323   100.000          0  float64
...       ...          ...   ...       ...        ...      ...
346        ib         2323    67     2.884       1336  float64
713       teq         2323    60     2.583       1316  float64
88         at         2323    58     2.497       1310  float64
669      sale         2323    58     2.497       1328  float64
677       seq         2323    56     2.411       1320  float64

[1726 rows x 6 columns]

In [683]:
# Initial Column Reduce -- Drop Obvious -- Nulls
# Initial Null Drop -- More than 75% -- Will Re-Run w/ lower threshold after rows combined
cleanActionsDesc = "Initial Null Drop -- columns w/ 63% Null or more."
df_name = "Fundamentals"

fundamentals = dropCols_nullThresh(fundamentals,0.63,df_name,cleanActionsDesc)
fundamentals

dropped: 1418
columns that where dropped where: ['acctchg', 'acqmeth', 'adrr', 'bspr', 'compst', 'curuscn', 'ltcm', 'ogm', 'stalt', 'udpl', 'acco', 'acoxar', 'acqao', 'acqcshi', 'acqgdwl', 'acqic', 'acqintan', 'acqinvt', 'acqlntal', 'acqniintc', 'acqppe', 'acqsc', 'adpac', 'aedi', 'afudcc', 'afudci', 'amc', 'amdc', 'amgw', 'ano', 'aol2', 'apalch', 'apb', 'apc', 'apofs', 'aqa', 'aqd', 'aqeps', 'aqi', 'aqp', 'aqpl1', 'aqs', 'arb', 'arc', 'arce', 'arced', 'arceeps', 'artfs', 'aul3', 'autxr', 'balr', 'banlr', 'bast', 'bastr', 'batr', 'bcef', 'bclr', 'bcltbl', 'bcnlr', 'bcrbl', 'bct', 'bctbl', 'bctr', 'bltbl', 'ca', 'capr1', 'capr2', 'capr3', 'cb', 'cbi', 'cdpac', 'cdvc', 'cfbd', 'cfere', 'cfo', 'cfpdo', 'cga', 'cgri', 'cgti', 'cgui', 'chs', 'clfc', 'clfx', 'clg', 'clis', 'cll', 'cllc', 'clo', 'clrll', 'clt', 'cmp', 'cnltbl', 'cpcbl', 'cpdoi', 'cpnli', 'cppbl', 'cprei', 'crv', 'crvnli', 'cshrc', 'cshrp', 'cshrso', 'cshrt', 'cshrw', 'dbi', 'dcs', 'depc', 'dfpac', 'dfs', 'dfxa', 'dlcch', 'dltsub', 'dpacb', 'dpacc', 'dpacli', 'dpacls', 'dpacme', 'dpacnr', 'dpaco', 'dpacre', 'dpdc', 'dpltb', 'dpret', 'dpsc', 'dpstb', 'dptb', 'dptc', 'dptic', 'dpvio', 'dpvir', 'drci', 'dtea', 'dted', 'dteeps', 'dtep', 'dvdnp', 'dvpd', 'dvpdp', 'dvpibb', 'dvrpiv', 'dvrre', 'dvsco', 'ea', 'eiea', 'emol', 'esopdlt', 'excadj', 'fatd', 'fatl', 'fca', 'fdfr', 'fea', 'fel', 'ffo', 'ffs', 'fopt', 'fsrco', 'fsrct', 'fuseo', 'fuset', 'gbbl', 'gdwlam', 'gdwlia', 'gdwlid', 'gdwlieps', 'gdwlip', 'geqrv', 'gla', 'glcea', 'glced', 'glceeps', 'glcep', 'gld', 'gleps', 'glp', 'govgr', 'govtown', 'gphbl', 'gplbl', 'gpobl', 'gprbl', 'gptbl', 'gwo', 'hedgegl', 'iaeq', 'iaeqci', 'iaeqmi', 'iafici', 'iafxi', 'iafxmi', 'iali', 'ialoi', 'ialti', 'iamli', 'iaoi', 'iapli', 'iarei', 'iasci', 'iasmi', 'iassi', 'iasti', 'iatci', 'iati', 'iatmi', 'iaui', 'ibbl', 'ibki', 'idiis', 'idilb', 'idilc', 'idis', 'idist', 'idit', 'idits', 'iire', 'initb', 'invofs', 'invreh', 'invrei', 'invres', 'invrm', 'invwip', 'iobd', 'ioi', 'iore', 'ip', 'ipabl', 'ipc', 'iphbl', 'iplbl', 'ipobl', 'iptbl', 'ipti', 'ipv', 'irei', 'irent', 'irii', 'irli', 'irnli', 'irsi', 'iseq', 'iseqc', 'iseqm', 'isfi', 'isfxc', 'isfxm', 'isgr', 'isgt', 'isgu', 'islg', 'islgc', 'islgm', 'islt', 'isng', 'isngc', 'isngm', 'isotc', 'isoth', 'isotm', 'issc', 'issm', 'issu', 'ist', 'istc', 'istm', 'isut', 'itcc', 'ivgod', 'ivi', 'ivpt', 'lcabg', 'lcacl', 'lcacr', 'lcag', 'lcal', 'lcalt', 'lcam', 'lcao', 'lcast', 'lcat', 'lcoxar', 'lcuacu', 'li', 'lif', 'lloml', 'lloo', 'llot', 'llrci', 'llrcr', 'llwoci', 'llwocr', 'lno', 'lol2', 'lqpl1', 'lrv', 'ls', 'lst', 'lul3', 'msvrv', 'mtl', 'nat', 'nco', 'nfsr', 'nieci', 'niint', 'niintpfc', 'niintpfp', 'niit', 'nim', 'nio', 'nipfc', 'nipfp', 'nit', 'nits', 'npanl', 'npaore', 'nparl', 'npat', 'nrtxt', 'nrtxtd', 'nrtxteps', 'ob', 'opili', 'opincar', 'opini', 'opioi', 'opiri', 'opiti', 'optdr', 'optfvgr', 'optlife', 'optprcby', 'optprcca', 'optprcex', 'optprcey', 'optprcgr', 'optprcwa', 'optrfr', 'optvol', 'palr', 'panlr', 'patr', 'pcl', 'pclr', 'pcnlr', 'pctr', 'pdvc', 'pidom', 'pifo', 'pll', 'pltbl', 'pncia', 'pncid', 'pncieps', 'pncip', 'pncwia', 'pncwid', 'pncwieps', 'pncwip', 'pnlbl', 'pnli', 'pobl', 'ppcbl', 'ppenb', 'ppenc', 'ppenli', 'ppenls', 'ppenme', 'ppennr', 'ppeno', 'ppevbb', 'ppevo', 'ppevr', 'pppabl', 'ppphbl', 'pppobl', 'ppptbl', 'prc', 'prebl', 'pri', 'prodv', 'prstkcc', 'prstkpc', 'prvt', 'ptbl', 'ptran', 'pvcl', 'pvo', 'pvon', 'pvpl', 'pvt', 'pwoi', 'radp', 'ragr', 'rari', 'rati', 'rca', 'rcd', 'rceps', 'rcl', 'rcp', 'rdp', 'recub', 'ret', 'reunr', 'ris', 'rll', 'rlo', 'rlp', 'rlri', 'rlt', 'rmum', 'rpag', 'rra', 'rrd', 'rreps', 'rrp', 'rvbci', 'rvbpi', 'rvbti', 'rvdo', 'rvdt', 'rveqt', 'rvlrv', 'rvno', 'rvnt', 'rvri', 'rvsi', 'rvti', 'rvtxr', 'rvupi', 'rvutx', 'saa', 'sal', 'salepfc', 'salepfp', 'sbdc', 'sc', 'sco', 'scstkc', 'secu', 'seta', 'setd', 'seteps', 'setp', 'spid', 'spieps', 'spioa', 'spiop', 'spstkc', 'sret', 'srt', 'ssnp', 'stbo', 'stio', 'stkcpa', 'tdc', 'tdscd', 'tdsce', 'tdsg', 'tdslg', 'tdsmm', 'tdsng', 'tdso', 'tdss', 'tdst', 'tf', 'tfva', 'tfvce', 'tfvl', 'tie', 'tii', 'tlcf', 'transa', 'tsa', 'tsafc', 'tso', 'tstkme', 'txach', 'txeqa', 'txeqii', 'txtubadjust', 'txtubbegin', 'txtubend', 'txtubmax', 'txtubmin', 'txtubposdec', 'txtubposinc', 'txtubpospdec', 'txtubpospinc', 'txtubsettle', 'txtubsoflimit', 'txtubtxtr', 'txtubxintbs', 'txtubxintis', 'txva', 'uaoloch', 'uaox', 'uapt', 'ucaps', 'uccons', 'uceq', 'ucustad', 'udcopres', 'udd', 'udfcc', 'udmb', 'udolt', 'udpco', 'udpfa', 'udvp', 'ufretsd', 'ugi', 'ui', 'uinvt', 'ulcm', 'ulco', 'uniami', 'unl', 'unnp', 'unnpl', 'unopinc', 'unwcc', 'uois', 'uopi', 'uopres', 'updvp', 'upmcstk', 'upmpf', 'upmpfs', 'upmsubp', 'upstk', 'upstkc', 'upstksf', 'urect', 'urectr', 'urevub', 'uspi', 'ustdnc', 'usubdvp', 'usubpstk', 'utfdoc', 'utfosc', 'utme', 'utxfed', 'uwkcapc', 'uxinst', 'uxintd', 'vpac', 'vpo', 'wcapc', 'wcapch', 'wda', 'wdd', 'wdeps', 'wdp', 'xad', 'xago', 'xagt', 'xcom', 'xcomi', 'xdepl', 'xdp', 'xdvre', 'xeqo', 'xindb', 'xindc', 'xins', 'xinst', 'xintd', 'xivi', 'xivre', 'xlr', 'xnbi', 'xnf', 'xnins', 'xnitb', 'xobd', 'xoi', 'xoprar', 'xore', 'xpp', 'xpr', 'xrd', 'xs', 'xstf', 'xstfo', 'xstfws', 'xt', 'xuw', 'xuwli', 'xuwnli', 'xuwoi', 'xuwrei', 'xuwti', 'acchg_fn', 'afudcc_fn', 'amc_fn', 'am_fn', 'aocidergl_fn', 'aocipen_fn', 'aocisecgl_fn', 'ap_fn', 'aqa_fn', 'aqd_fn', 'aqeps_fn', 'aqp_fn', 'aqs_fn', 'arced_fn', 'arceeps_fn', 'arce_fn', 'artfs_fn', 'at_fn', 'capr1_fn', 'capr3_fn', 'caps_fn', 'capx_fn', 'cdvc_fn', 'clg_fn', 'cogs_fn', 'cshfd_fn', 'csho_fn', 'cshpri_fn', 'cstk_fn', 'dclo_fn', 'dcs_fn', 'dcvsr_fn', 'dcvsub_fn', 'dcvt_fn', 'dd1_fn', 'dd2_fn', 'dd3_fn', 'dd4_fn', 'dd5_fn', 'dd_fn', 'depc_fn', 'dfs_fn', 'dlto_fn', 'dltp_fn', 'dltt_fn', 'dn_fn', 'dpc_fn', 'dptc_fn', 'dptic_fn', 'dp_fn', 'ds_fn', 'dtea_fn', 'dted_fn', 'dteeps_fn', 'dtep_fn', 'dvc_fn', 'dvp_fn', 'dvrre_fn', 'emp_fn', 'epspi_fn', 'epspx_fn', 'esopt_fn', 'esub_fn', 'fca_fn', 'gdwlam_fn', 'gdwlia_fn', 'gdwlid_fn', 'gdwlieps_fn', 'gdwlip_fn', 'gla_fn', 'glcea_fn', 'glced_fn', 'glceeps_fn', 'glcep_fn', 'gld_fn', 'gleps_fn', 'glp_fn', 'hedgegl_fn', 'iarei_fn', 'iati_fn', 'ibadj_fn', 'ib_fn', 'icapt_fn', 'idiis_fn', 'idilc_fn', 'idist_fn', 'idits_fn', 'idit_fn', 'iire_fn', 'invt_fn', 'ip_fn', 'ist_fn', 'itcc_fn', 'itci_fn', 'ivi_fn', 'lcao_fn', 'lcuacu_fn', 'lse_fn', 'mib_fn', 'mrc1_fn', 'mrc2_fn', 'mrc3_fn', 'mrc4_fn', 'mrc5_fn', 'msa_fn', 'ni_fn', 'nrtxtd_fn', 'nrtxteps_fn', 'nrtxt_fn', 'oancf_fn', 'opeps_fn', 'oprepsx_fn', 'optdr_fn', 'optfvgr_fn', 'optlife_fn', 'optprcby_fn', 'optprcca_fn', 'optprcex_fn', 'optprcey_fn', 'optprcgr_fn', 'optprcwa_fn', 'optrfr_fn', 'optvol_fn', 'pcl_fn', 'pdvc_fn', 'pidom_fn', 'pifo_fn', 'pncad_fn', 'pncaeps_fn', 'pnca_fn', 'pncia_fn', 'pncid_fn', 'pncieps_fn', 'pncwia_fn', 'pncwid_fn', 'pncwieps_fn', 'ppegt_fn', 'ppent_fn', 'ppeveb_fn', 'prcad_fn', 'prcaeps_fn', 'prca_fn', 'pstkl_fn', 'pstkrv_fn', 'pvcl_fn', 'ragr_fn', 'rca_fn', 'rcd_fn', 'rceps_fn', 'rcl_fn', 'rcp_fn', 'rdip_fn', 'recta_fn', 'reuna_fn', 'revt_fn', 're_fn', 'rra_fn', 'rrd_fn', 'rreps_fn', 'rrp_fn', 'sale_fn', 'secu_fn', 'seta_fn', 'setd_fn', 'seteps_fn', 'setp_fn', 'spced_fn', 'spceeps_fn', 'spce_fn', 'spid_fn', 'spieps_fn', 'spioa_fn', 'spiop_fn', 'stkcpa_fn', 'tdc_fn', 'tdst_fn', 'tie_fn', 'transa_fn', 'tstkc_fn', 'tstk_fn', 'txeqii_fn', 'txfed_fn', 'txfo_fn', 'txo_fn', 'txp_fn', 'txs_fn', 'txt_fn', 'uapt_fn', 'ucaps_fn', 'ui_fn', 'unwcc_fn', 'vpac_fn', 'vpo_fn', 'wda_fn', 'wdd_fn', 'wdeps_fn', 'wdp_fn', 'xintopt_fn', 'xint_fn', 'xlr_fn', 'xoptd_fn', 'xopteps_fn', 'xpr_fn', 'xrd_fn', 'xrent_fn', 'xsga_fn', 'xt_fn', 'acchg_dc', 'acco_dc', 'acdo_dc', 'aco_dc', 'acominc_dc', 'acox_dc', 'acqao_dc', 'acqgdwl_dc', 'acqic_dc', 'acqintan_dc', 'acqinvt_dc', 'acqlntal_dc', 'acqniintc_dc', 'acqppe_dc', 'acqsc_dc', 'adpac_dc', 'aedi_dc', 'aldo_dc', 'am_dc', 'amc_dc', 'amgw_dc', 'ano_dc', 'ao_dc', 'aocidergl_dc', 'aocipen_dc', 'aocisecgl_dc', 'aol2_dc', 'aoloch_dc', 'aox_dc', 'ap_dc', 'apalch_dc', 'apofs_dc', 'aqa_dc', 'aqc_dc', 'aqd_dc', 'aqeps_dc', 'aqi_dc', 'aqp_dc', 'aqpl1_dc', 'aqs_dc', 'arc_dc', 'artfs_dc', 'aul3_dc', 'balr_dc', 'banlr_dc', 'bast_dc', 'bastr_dc', 'batr_dc', 'bcef_dc', 'bclr_dc', 'bcnlr_dc', 'bcrbl_dc', 'bct_dc', 'bctbl_dc', 'bctr_dc', 'bkvlps_dc', 'bltbl_dc', 'ca_dc', 'caps_dc', 'capx_dc', 'capxv_dc', 'cb_dc', 'cbi_dc', 'cdvc_dc', 'ceq_dc', 'ceql_dc', 'ceqt_dc', 'cfbd_dc', 'cfere_dc', 'cfo_dc', 'cfpdo_dc', 'cgti_dc', 'ch_dc', 'che_dc', 'chech_dc', 'chs_dc', 'cicurr_dc', 'cidergl_dc', 'cipen_dc', 'cisecgl_dc', 'cld2_dc', 'cld3_dc', 'cld4_dc', 'cld5_dc', 'clfc_dc', 'clfx_dc', 'clg_dc', 'clis_dc', 'cll_dc', 'cllc_dc', 'cmp_dc', 'cnltbl_dc', 'cpnli_dc', 'cprei_dc', 'crvnli_dc', 'cshfd_dc', 'cshi_dc', 'csho_dc', 'cshpri_dc', 'cshr_dc', 'cshrc_dc', 'cshrt_dc', 'cshrw_dc', 'cstk_dc', 'cstkcv_dc', 'dbi_dc', 'dc_dc', 'dclo_dc', 'dcom_dc', 'dcpstk_dc', 'dcs_dc', 'dcvsr_dc', 'dcvsub_dc', 'dcvt_dc', 'dd_dc', 'dd1_dc', 'dd2_dc', 'dd3_dc', 'dd4_dc', 'dd5_dc', 'depc_dc', 'dfpac_dc', 'dfs_dc', 'dfxa_dc', 'dlc_dc', 'dlcch_dc', 'dltis_dc', 'dlto_dc', 'dltp_dc', 'dltr_dc', 'dltsub_dc', 'dltt_dc', 'dm_dc', 'dn_dc', 'do_dc', 'donr_dc', 'dp_dc', 'dpacb_dc', 'dpacc_dc', 'dpacls_dc', 'dpacme_dc', 'dpacnr_dc', 'dpact_dc', 'dpc_dc', 'dpdc_dc', 'dpsc_dc', 'dptb_dc', 'dptc_dc', 'dptic_dc', 'dpvieb_dc', 'dpvio_dc', 'dpvir_dc', 'drc_dc', 'drlt_dc', 'ds_dc', 'dtea_dc', 'dted_dc', 'dteeps_dc', 'dtep_dc', 'dudd_dc', 'dv_dc', 'dvc_dc', 'dvp_dc', 'dvpa_dc', 'dvpdp_dc', 'dvpibb_dc', 'dvrre_dc', 'dxd2_dc', 'dxd3_dc', 'dxd4_dc', 'dxd5_dc', 'ea_dc', 'ebitda_dc', 'eiea_dc', 'emp_dc', 'epsfi_dc', 'epsfx_dc', 'epspi_dc', 'epspx_dc', 'esopct_dc', 'esub_dc', 'esubc_dc', 'excadj_dc', 'exre_dc', 'fatb_dc', 'fatc_dc', 'fate_dc', 'fatl_dc', 'fatn_dc', 'fato_dc', 'fatp_dc', 'fca_dc', 'fdfr_dc', 'ffs_dc', 'fopo_dc', 'fsrco_dc', 'fuseo_dc', 'gdwl_dc', 'gdwlia_dc', 'gdwlid_dc', 'gdwlieps_dc', 'gdwlip_dc', 'gla_dc', 'glcea_dc', 'glcep_dc', 'gld_dc', 'gleps_dc', 'glp_dc', 'govgr_dc', 'gphbl_dc', 'gplbl_dc', 'gprbl_dc', 'hedgegl_dc', 'iaeq_dc', 'iaeqci_dc', 'iaeqmi_dc', 'ialti_dc', 'iamli_dc', 'iapli_dc', 'iarei_dc', 'iati_dc', 'ib_dc', 'ibadj_dc', 'ibcom_dc', 'ibki_dc', 'icapt_dc', 'idiis_dc', 'idilb_dc', 'idilc_dc', 'idis_dc', 'idist_dc', 'idit_dc', 'idits_dc', 'iire_dc', 'initb_dc', 'intan_dc', 'intano_dc', 'intc_dc', 'intpn_dc', 'invch_dc', 'invfg_dc', 'invreh_dc', 'invrei_dc', 'invres_dc', 'invrm_dc', 'invt_dc', 'invwip_dc', 'iobd_dc', 'ioi_dc', 'iore_dc', 'ip_dc', 'ipabl_dc', 'iphbl_dc', 'iplbl_dc', 'ipti_dc', 'ipv_dc', 'irei_dc', 'irent_dc', 'irli_dc', 'irnli_dc', 'irsi_dc', 'iseq_dc', 'iseqc_dc', 'iseqm_dc', 'isfi_dc', 'isfxc_dc', 'isfxm_dc', 'isgt_dc', 'islg_dc', 'islgc_dc', 'islgm_dc', 'isng_dc', 'isngc_dc', 'isngm_dc', 'issc_dc', 'issm_dc', 'issu_dc', 'ist_dc', 'itcb_dc', 'itcc_dc', 'itci_dc', 'ivaeq_dc', 'ivao_dc', 'ivch_dc', 'ivi_dc', 'ivpt_dc', 'ivst_dc', 'ivstch_dc', 'lcabg_dc', 'lcacl_dc', 'lcacr_dc', 'lcag_dc', 'lcal_dc', 'lcam_dc', 'lcat_dc', 'lco_dc', 'lcox_dc', 'lct_dc', 'lcuacu_dc', 'lifr_dc', 'llrcr_dc', 'llwocr_dc', 'lno_dc', 'lo_dc', 'lol2_dc', 'lqpl1_dc', 'lt_dc', 'lul3_dc', 'mib_dc', 'mibn_dc', 'mibt_dc', 'mii_dc', 'mrc1_dc', 'mrc2_dc', 'mrc3_dc', 'mrc4_dc', 'mrc5_dc', 'mrct_dc', 'mrcta_dc', 'msa_dc', 'nco_dc', 'ni_dc', 'nieci_dc', 'niintpfc_dc', 'niintpfp_dc', 'nio_dc', 'nipfc_dc', 'nipfp_dc', 'nit_dc', 'nopi_dc', 'nopio_dc', 'np_dc', 'npaore_dc', 'nparl_dc', 'nrtxt_dc', 'nrtxtd_dc', 'nrtxteps_dc', 'ob_dc', 'oiadp_dc', 'oibdp_dc', 'opili_dc', 'opini_dc', 'opioi_dc', 'opiri_dc', 'optca_dc', 'optexd_dc', 'optgr_dc', 'optosey_dc', 'optprcca_dc', 'optprcex_dc', 'optprcgr_dc', 'palr_dc', 'panlr_dc', 'patr_dc', 'pcl_dc', 'pclr_dc', 'pcnlr_dc', 'pctr_dc', 'pdvc_dc', 'pi_dc', 'pidom_dc', 'pifo_dc', 'pll_dc', 'pltbl_dc', 'pnlbl_dc', 'pnrsho_dc', 'pobl_dc', 'ppegt_dc', 'ppenb_dc', 'ppenc_dc', 'ppenli_dc', 'ppenls_dc', 'ppenme_dc', 'ppennr_dc', 'ppeno_dc', 'ppent_dc', 'ppevbb_dc', 'ppeveb_dc', 'ppevo_dc', 'ppevr_dc', 'ppphbl_dc', 'prebl_dc', 'pri_dc', 'prodv_dc', 'prsho_dc', 'prstkc_dc', 'prstkcc_dc', 'prstkpc_dc', 'pstk_dc', 'pstkc_dc', 'pstkl_dc', 'pstkn_dc', 'pstkr_dc', 'pstkrv_dc', 'ptran_dc', 'pvon_dc', 'pvpl_dc', 'pvt_dc', 'pwoi_dc', 'ragr_dc', 'rati_dc', 'rca_dc', 'rcd_dc', 'rceps_dc', 'rcl_dc', 'rcp_dc', 'rdip_dc', 'rdipa_dc', 'rdipd_dc', 're_dc', 'rea_dc', 'reajo_dc', 'recch_dc', 'recco_dc', 'recd_dc', 'rect_dc', 'recta_dc', 'rectr_dc', 'reunr_dc', 'ris_dc', 'rll_dc', 'rlri_dc', 'rlt_dc', 'rpag_dc', 'rvbci_dc', 'rvbti_dc', 'rvdt_dc', 'rveqt_dc', 'rvri_dc', 'rvsi_dc', 'rvti_dc', 'rvupi_dc', 'saa_dc', 'sal_dc', 'salepfc_dc', 'salepfp_dc', 'sbdc_dc', 'sc_dc', 'scstkc_dc', 'secu_dc', 'seq_dc', 'seta_dc', 'setd_dc', 'seteps_dc', 'setp_dc', 'siv_dc', 'spi_dc', 'spid_dc', 'spieps_dc', 'spioa_dc', 'spiop_dc', 'sppe_dc', 'sppiv_dc', 'spstkc_dc', 'ssnp_dc', 'sstk_dc', 'stbo_dc', 'stio_dc', 'stkco_dc', 'stkcpa_dc', 'tdc_dc', 'tdscd_dc', 'tdsce_dc', 'tdsg_dc', 'tdslg_dc', 'tdsmm_dc', 'tdsng_dc', 'tdst_dc', 'tf_dc', 'tfva_dc', 'tfvce_dc', 'tfvl_dc', 'tlcf_dc', 'transa_dc', 'tstk_dc', 'tstkc_dc', 'tstkme_dc', 'tstkn_dc', 'tstkp_dc', 'txach_dc', 'txbco_dc', 'txbcof_dc', 'txc_dc', 'txdb_dc', 'txdba_dc', 'txdbca_dc', 'txdbcl_dc', 'txdc_dc', 'txdfed_dc', 'txdfo_dc', 'txdi_dc', 'txditc_dc', 'txds_dc', 'txeqa_dc', 'txfed_dc', 'txfo_dc', 'txndb_dc', 'txndba_dc', 'txndbl_dc', 'txndbr_dc', 'txp_dc', 'txpd_dc', 'txr_dc', 'txs_dc', 'txt_dc', 'txtubadjust_dc', 'txtubbegin_dc', 'txtubend_dc', 'txtubmax_dc', 'txtubmin_dc', 'txtubposdec_dc', 'txtubposinc_dc', 'txtubpospdec_dc', 'txtubpospinc_dc', 'txtubsettle_dc', 'txtubsoflimit_dc', 'txtubtxtr_dc', 'txtubxintbs_dc', 'txtubxintis_dc', 'txw_dc', 'uaoloch_dc', 'uaox_dc', 'uapt_dc', 'ucaps_dc', 'uccons_dc', 'ucustad_dc', 'udd_dc', 'udfcc_dc', 'udmb_dc', 'udpco_dc', 'udvp_dc', 'ui_dc', 'uinvt_dc', 'unopinc_dc', 'unwcc_dc', 'uopi_dc', 'uopres_dc', 'updvp_dc', 'upmcstk_dc', 'upmpf_dc', 'upmpfs_dc', 'upmsubp_dc', 'upstk_dc', 'upstkc_dc', 'upstksf_dc', 'urect_dc', 'urectr_dc', 'urevub_dc', 'uspi_dc', 'ustdnc_dc', 'usubdvp_dc', 'usubpstk_dc', 'utme_dc', 'utxfed_dc', 'uwkcapc_dc', 'uxinst_dc', 'uxintd_dc', 'vpac_dc', 'vpo_dc', 'wcapc_dc', 'wda_dc', 'wdd_dc', 'wdeps_dc', 'wdp_dc', 'xacc_dc', 'xad_dc', 'xago_dc', 'xagt_dc', 'xcom_dc', 'xcomi_dc', 'xdepl_dc', 'xdp_dc', 'xdvre_dc', 'xeqo_dc', 'xi_dc', 'xido_dc', 'xidoc_dc', 'xindb_dc', 'xindc_dc', 'xins_dc', 'xinst_dc', 'xint_dc', 'xintd_dc', 'xintopt_dc', 'xivi_dc', 'xivre_dc', 'xlr_dc', 'xnins_dc', 'xnitb_dc', 'xobd_dc', 'xoi_dc', 'xoptd_dc', 'xopteps_dc', 'xore_dc', 'xpp_dc', 'xpr_dc', 'xrd_dc', 'xrent_dc', 'xs_dc', 'xsga_dc', 'xstf_dc', 'xstfo_dc', 'xuw_dc', 'xuwli_dc', 'xuwnli_dc', 'xuwoi_dc', 'xuwrei_dc', 'add2', 'add3', 'add4', 'county', 'dlrsn', 'prican', 'prirow', 'dldte', 'ipodate']

,Unnamed: 0,gvkey,fyear,indfmt,consol,popsrc,datafmt,tic,conm,acctstd,...,gsector,gsubind,idbflag,naics,priusa,sic,spcindcd,spcseccd,spcsrc,stko
0,218,1239,2010,INDL,C,D,SUMM_STD,ACV,ALBERTO-CULVER CO,NaN,...,30,30302010,D,325620,1,2844,215.0,978.0,A-,0
1,219,1239,2010,INDL,C,D,STD,ACV,ALBERTO-CULVER CO,DS,...,30,30302010,D,325620,1,2844,215.0,978.0,A-,0
2,242,1266,2010,INDL,C,D,SUMM_STD,ALCO,ALICO INC,NaN,...,30,30202010,D,111310,1,100,112.0,970.0,B-,0
3,243,1266,2010,INDL,C,D,STD,ALCO,ALICO INC,DS,...,30,30202010,D,111310,1,100,112.0,970.0,B-,0
4,244,1266,2011,INDL,C,D,SUMM_STD,ALCO,ALICO INC,NaN,...,30,30202010,D,111310,1,100,112.0,970.0,B-,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2318,60832,264393,2013,INDL,C,D,SUMM_STD,IVFH,INNOVATIVE FOOD HOLDINGS,NaN,...,30,30101020,D,4244,1,5140,NaN,NaN,NaN,3
2319,60833,264393,2013,INDL,C,D,STD,IVFH,INNOVATIVE FOOD HOLDINGS,DS,...,30,30101020,D,4244,1,5140,NaN,NaN,NaN,3
2320,61135,277487,2011,INDL,C,D,STD,LND,BRASILAGRO CIA BRAS DE PROP,DI,...,30,30202010,B,1111,90,100,NaN,NaN,NaN,0
2321,61136,277487,2012,INDL,C,D,STD,LND,BRASILAGRO CIA BRAS DE PROP,DI,...,30,30202010,B,1111,90,100,NaN,NaN,NaN,0
2322,61137,277487,2013,INDL,C,D,STD,LND,BRASILAGRO CIA BRAS DE PROP,DI,...,30,30202010,B,1111,90,100,NaN,NaN,NaN,0

In [684]:
# Initial Column Reduce -- Drop Obvious -- Nulls
# Re-Run Null Report
fundamentals_nullReport = nullAnalysis(fundamentals)
fundamentals_nullReport

Count of Variables: 333
Count of Variables without nulls: 25
Count of Variables with null : 308

    Variable Observations Nulls  Null_Per Num_Unique     Type
264     txds         2323  1462    62.936        443  float64
114     dxd5         2323  1459    62.807        318  float64
260   txdfed         2323  1458    62.764        547  float64
196    optex         2323  1457    62.721        644  float64
152    invfg         2323  1454    62.591        769  float64
..       ...          ...   ...       ...        ...      ...
141       ib         2323    67     2.884       1336  float64
247      teq         2323    60     2.583       1316  float64
40        at         2323    58     2.497       1310  float64
235     sale         2323    58     2.497       1328  float64
236      seq         2323    56     2.411       1320  float64

[308 rows x 6 columns]

In [685]:
# Initial Column Reduce -- Drop Obvious -- Cols w/ 1 Value
cleanActionsDesc = "Dropped columns with only 1 unique value "
df_name = "Fundamentals"

fundamentals = dropCols_uniqueThresh(fundamentals,1,df_name,cleanActionsDesc)
fundamentals

dropped: 16
columns that where dropped where: ['indfmt', 'consol', 'popsrc', 'curcd', 'final', 'scf', 'acchg', 'aocisecgl', 'esopr', 'itcb', 'xoptd', 'xopteps', 'rank', 'rdipa_fn', 'stkco_fn', 'gsector']

,Unnamed: 0,gvkey,fyear,datafmt,tic,conm,acctstd,ajex,ajp,curncd,...,gind,gsubind,idbflag,naics,priusa,sic,spcindcd,spcseccd,spcsrc,stko
0,218,1239,2010,SUMM_STD,ACV,ALBERTO-CULVER CO,NaN,NaN,NaN,NaN,...,303020,30302010,D,325620,1,2844,215.0,978.0,A-,0
1,219,1239,2010,STD,ACV,ALBERTO-CULVER CO,DS,1.0,1.0,USD,...,303020,30302010,D,325620,1,2844,215.0,978.0,A-,0
2,242,1266,2010,SUMM_STD,ALCO,ALICO INC,NaN,NaN,NaN,NaN,...,302020,30202010,D,111310,1,100,112.0,970.0,B-,0
3,243,1266,2010,STD,ALCO,ALICO INC,DS,1.0,1.0,USD,...,302020,30202010,D,111310,1,100,112.0,970.0,B-,0
4,244,1266,2011,SUMM_STD,ALCO,ALICO INC,NaN,NaN,NaN,NaN,...,302020,30202010,D,111310,1,100,112.0,970.0,B-,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2318,60832,264393,2013,SUMM_STD,IVFH,INNOVATIVE FOOD HOLDINGS,NaN,NaN,NaN,NaN,...,301010,30101020,D,4244,1,5140,NaN,NaN,NaN,3
2319,60833,264393,2013,STD,IVFH,INNOVATIVE FOOD HOLDINGS,DS,1.0,1.0,USD,...,301010,30101020,D,4244,1,5140,NaN,NaN,NaN,3
2320,61135,277487,2011,STD,LND,BRASILAGRO CIA BRAS DE PROP,DI,1.0,1.0,BRR,...,302020,30202010,B,1111,90,100,NaN,NaN,NaN,0
2321,61136,277487,2012,STD,LND,BRASILAGRO CIA BRAS DE PROP,DI,1.0,1.0,BRR,...,302020,30202010,B,1111,90,100,NaN,NaN,NaN,0
2322,61137,277487,2013,STD,LND,BRASILAGRO CIA BRAS DE PROP,DI,1.0,1.0,BRR,...,302020,30202010,B,1111,90,100,NaN,NaN,NaN,0

In [686]:
cleanActionsDF

,DF,ActionDesc,List-of-Cols,ResultShape
0,Fundamentals,Dropped obvious low value columns -- 1,"[datadate, apdedate, fdate, pdate, fyr, add1, ...","(2323, 1751)"
1,Fundamentals,Initial Null Drop -- columns w/ 63% Null or more.,"[acctchg, acqmeth, adrr, bspr, compst, curuscn...","(2323, 333)"
2,Fundamentals,Dropped columns with only 1 unique value,"[indfmt, consol, popsrc, curcd, final, scf, ac...","(2323, 317)"

### Fundamentals Restatements

In [687]:
# make table w/ just restatement rows to get meaningful cols for a diff
## note came from a lengthy analysis -- analysis docs stored in repo
fund_restatement = fundamentals[['gvkey','fyear','datafmt','tic',
                                 'cogs','dp','mii','nopi','pi','txt',
                                 'wcap','xsga']]

# Make copy w/ cols to rejoin after diff
fund_restatement_rejoin = fund_restatement[['gvkey','fyear','datafmt','tic']]
# Drop string columns that can't be used for diff
fund_restatement = fund_restatement.drop(columns =['datafmt','tic'])
fund_restatement

,gvkey,fyear,cogs,dp,mii,nopi,pi,txt,wcap,xsga
0,1239,2010,734.501,26.658,0.000,-13.684,217.844,62.708,520.680,601.963
1,1239,2010,734.501,26.658,0.000,1.490,217.844,62.708,520.680,601.963
2,1266,2010,62.648,7.221,0.000,-1.412,-1.824,-1.201,29.529,6.458
3,1266,2010,62.648,7.221,0.000,1.688,-1.824,-1.201,29.529,6.458
4,1266,2011,67.832,7.327,0.000,-0.563,12.527,5.430,17.354,8.196
...,...,...,...,...,...,...,...,...,...,...
2318,264393,2013,16.854,0.263,0.000,0.000,-1.486,0.000,-0.174,5.420
2319,264393,2013,16.854,0.263,0.000,0.000,-1.486,0.000,-0.174,5.420
2320,277487,2011,30.511,9.560,-0.051,30.513,12.728,3.325,88.979,18.166
2321,277487,2012,54.097,14.382,-0.511,17.423,-9.679,-6.394,53.942,15.819
2322,277487,2013,95.963,12.683,0.000,5.204,11.948,-1.065,71.128,19.011

In [688]:
# Run Diff
fund_restatement_diff = fund_restatement.diff()
fund_restatement_diff = fund_restatement_diff.rename(columns={'gvkey':'gvkey_diff','fyear':'fyear_diff'})
fund_restatement_diff = fund_restatement_rejoin.join(fund_restatement_diff)
fund_restatement_diff

,gvkey,fyear,datafmt,tic,gvkey_diff,fyear_diff,cogs,dp,mii,nopi,pi,txt,wcap,xsga
0,1239,2010,SUMM_STD,ACV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1239,2010,STD,ACV,0.0,0.0,0.000,0.000,0.000,15.174,0.000,0.000,0.000,0.000
2,1266,2010,SUMM_STD,ALCO,27.0,0.0,-671.853,-19.437,0.000,-2.902,-219.668,-63.909,-491.151,-595.505
3,1266,2010,STD,ALCO,0.0,0.0,0.000,0.000,0.000,3.100,0.000,0.000,0.000,0.000
4,1266,2011,SUMM_STD,ALCO,0.0,1.0,5.184,0.106,0.000,-2.251,14.351,6.631,-12.175,1.738
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2318,264393,2013,SUMM_STD,IVFH,0.0,1.0,3.060,0.138,0.000,1.282,-3.516,0.000,-1.082,1.315
2319,264393,2013,STD,IVFH,0.0,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2320,277487,2011,STD,LND,13094.0,-2.0,13.657,9.297,-0.051,30.513,14.214,3.325,89.153,12.746
2321,277487,2012,STD,LND,0.0,1.0,23.586,4.822,-0.460,-13.090,-22.407,-9.719,-35.037,-2.347
2322,277487,2013,STD,LND,0.0,1.0,41.866,-1.699,0.511,-12.219,21.627,5.329,17.186,3.192

In [689]:
# Trim Diff -- only rows that compare same gvkey and same year
fund_restatement_diff = fund_restatement_diff[fund_restatement_diff['gvkey_diff'] == 0]
fund_restatement_diff = fund_restatement_diff[fund_restatement_diff['fyear_diff'] == 0]

# Add Sum Column
#TODO: Make Diffs Absolute so positive/negative don't cancel each other
colsToSum = ['cogs','dp','mii','nopi','pi','txt','wcap','xsga']
fund_restatement_diff['sum_diff'] = fund_restatement_diff[colsToSum].sum(axis=1)

#Drop Columns Where Sum of Diffs = 0
fund_restatement_diff = fund_restatement_diff[fund_restatement_diff['sum_diff'] > 0]

fund_restatement_diff

,gvkey,fyear,datafmt,tic,gvkey_diff,fyear_diff,cogs,dp,mii,nopi,pi,txt,wcap,xsga,sum_diff
1,1239,2010,STD,ACV,0.0,0.0,0.0,0.0,0.0,15.174,0.0,0.0,0.0,0.0,15.174
3,1266,2010,STD,ALCO,0.0,0.0,0.0,0.0,0.0,3.100,0.0,0.0,0.0,0.0,3.100
5,1266,2011,STD,ALCO,0.0,0.0,0.0,0.0,0.0,1.685,0.0,0.0,0.0,0.0,1.685
7,1266,2012,STD,ALCO,0.0,0.0,0.0,0.0,0.0,1.918,0.0,0.0,0.0,0.0,1.918
11,1408,2010,STD,BEAM,0.0,0.0,2697.5,141.2,8.4,15.800,241.9,55.4,NaN,1325.1,4485.300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2270,199456,2012,STD,RNDY,0.0,0.0,0.0,0.0,0.0,137.017,0.0,0.0,0.0,0.0,137.017
2272,199456,2013,STD,RNDY,0.0,0.0,0.0,0.0,0.0,2.494,0.0,0.0,0.0,0.0,2.494
2305,241637,2010,STD,BUD,0.0,0.0,0.0,0.0,0.0,1193.000,0.0,0.0,0.0,0.0,1193.000
2307,241637,2011,STD,BUD,0.0,0.0,0.0,0.0,0.0,818.000,0.0,0.0,0.0,0.0,818.000
2309,241637,2012,STD,BUD,0.0,0.0,25.0,0.0,26.0,50.000,146.0,37.0,0.0,-171.0,113.000

In [690]:
# Create Diff Summary
fund_restatement_summary = fund_restatement_diff

## Add Column that counts non-zero's per row
fund_restatement_summary['count_of_diffs'] = fund_restatement_summary[colsToSum].gt(0).sum(axis=1)

# Drop Individual Counts, _diff columns, tic,
fund_restatement_summary = fund_restatement_summary.drop(columns=['datafmt','tic','gvkey_diff','fyear_diff',
                                                                  'cogs','dp','mii','nopi','pi','txt','wcap','xsga'])

# Group By -- Turn Year into count of years
fund_restatement_summary = fund_restatement_summary.groupby('gvkey')\
    .agg({'fyear':'count','sum_diff':'sum', 'count_of_diffs': 'sum'}).reset_index()
fund_restatement_summary = fund_restatement_summary.rename(columns={'fyear':'count_of_restatements'})
fund_restatement_summary

      gvkey  count_of_restatements  sum_diff  count_of_diffs
0      1239                      1    15.174               1
1      1266                      3     6.703               3
2      1408                      3  4929.500              11
3      1429                      1     0.063               2
4      1659                      2     6.200               4
..      ...                    ...       ...             ...
233  193157                      3     1.372               7
234  196258                      1     0.033               2
235  197956                      3     6.665              13
236  199456                      2   139.511               2
237  241637                      3  2124.000               7

[238 rows x 4 columns]

In [691]:
# Export Diff Reports to Excel

with pd.ExcelWriter(exportPath + 'Fundamentals_Diff_Reports.xlsx') as writer:
    fund_restatement_diff.to_excel(writer, sheet_name='All_Diffs')
    fund_restatement_summary.to_excel(writer, sheet_name='Summary')

### Fundamentals -- Resume Data Clean-up
Many columns could not be dropped until restatement was calculated

In [692]:
# drop restatement rows
## no longer useful since restatement data has been summarized
fundamentals = fundamentals[fundamentals['datafmt'] == 'STD']

cleanActionsDesc = 'Dropping all that are not standard statements -- value of others captured in restatement summary'
df_name = 'Fundamentals'
cols = 'applies to all cols, roughly 50% of rows dropped'

cleanActionsReport(fundamentals,df_name,cleanActionsDesc, cols)

,DF,ActionDesc,List-of-Cols,ResultShape
0,Fundamentals,Dropped obvious low value columns -- 1,"[datadate, apdedate, fdate, pdate, fyr, add1, ...","(2323, 1751)"
1,Fundamentals,Initial Null Drop -- columns w/ 63% Null or more.,"[acctchg, acqmeth, adrr, bspr, compst, curuscn...","(2323, 333)"
2,Fundamentals,Dropped columns with only 1 unique value,"[indfmt, consol, popsrc, curcd, final, scf, ac...","(2323, 317)"
3,Fundamentals,Dropping all that are not standard statements ...,"applies to all cols, roughly 50% of rows dropped","(1243, 317)"

In [693]:
# Initial Column Reduce -- Drop Obvious -- Nulls
# Initial Null Drop -- More than 75% -- Will Re-Run w/ lower threshold after rows combined
cleanActionsDesc = "Second Null Drop -- columns w/ 20% Null or more."
df_name = "Fundamentals"

fundamentals = dropCols_nullThresh(fundamentals,0.20,df_name,cleanActionsDesc)
fundamentals

dropped: 45
columns that where dropped where: ['cld2', 'cld3', 'cld4', 'cld5', 'cshr', 'dd3', 'dd4', 'dd5', 'dltp', 'dxd2', 'dxd3', 'dxd4', 'dxd5', 'fatb', 'fate', 'fato', 'fatp', 'invfg', 'invo', 'itci', 'mrc2', 'mrc3', 'mrc4', 'mrc5', 'mrct', 'optca', 'optex', 'optexd', 'optgr', 'optosby', 'optosey', 'recd', 'sppe', 'stkco', 'txc', 'txdfed', 'txdfo', 'txds', 'txfed', 'txs', 'xrent', 'mkvalt', 'spcindcd', 'spcseccd', 'spcsrc']

,Unnamed: 0,gvkey,fyear,datafmt,tic,conm,acctstd,ajex,ajp,curncd,...,rdipd_fn,rdipeps_fn,ggroup,gind,gsubind,idbflag,naics,priusa,sic,stko
1,219,1239,2010,STD,ACV,ALBERTO-CULVER CO,DS,1.0,1.0,USD,...,NR,NR,3030,303020,30302010,D,325620,1,2844,0
3,243,1266,2010,STD,ALCO,ALICO INC,DS,1.0,1.0,USD,...,NR,NR,3020,302020,30202010,D,111310,1,100,0
5,245,1266,2011,STD,ALCO,ALICO INC,DS,1.0,1.0,USD,...,NR,NR,3020,302020,30202010,D,111310,1,100,0
7,247,1266,2012,STD,ALCO,ALICO INC,DS,1.0,1.0,USD,...,NR,NR,3020,302020,30202010,D,111310,1,100,0
8,248,1266,2013,STD,ALCO,ALICO INC,DS,1.0,1.0,USD,...,NR,NR,3020,302020,30202010,D,111310,1,100,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2317,60831,264393,2012,STD,IVFH,INNOVATIVE FOOD HOLDINGS,DS,1.0,1.0,USD,...,NR,NR,3010,301010,30101020,D,4244,1,5140,3
2319,60833,264393,2013,STD,IVFH,INNOVATIVE FOOD HOLDINGS,DS,1.0,1.0,USD,...,NR,NR,3010,301010,30101020,D,4244,1,5140,3
2320,61135,277487,2011,STD,LND,BRASILAGRO CIA BRAS DE PROP,DI,1.0,1.0,BRR,...,NR,NR,3020,302020,30202010,B,1111,90,100,0
2321,61136,277487,2012,STD,LND,BRASILAGRO CIA BRAS DE PROP,DI,1.0,1.0,BRR,...,NR,NR,3020,302020,30202010,B,1111,90,100,0
2322,61137,277487,2013,STD,LND,BRASILAGRO CIA BRAS DE PROP,DI,1.0,1.0,BRR,...,NR,NR,3020,302020,30202010,B,1111,90,100,0

In [694]:
cleanActionsDF

,DF,ActionDesc,List-of-Cols,ResultShape
0,Fundamentals,Dropped obvious low value columns -- 1,"[datadate, apdedate, fdate, pdate, fyr, add1, ...","(2323, 1751)"
1,Fundamentals,Initial Null Drop -- columns w/ 63% Null or more.,"[acctchg, acqmeth, adrr, bspr, compst, curuscn...","(2323, 333)"
2,Fundamentals,Dropped columns with only 1 unique value,"[indfmt, consol, popsrc, curcd, final, scf, ac...","(2323, 317)"
3,Fundamentals,Dropping all that are not standard statements ...,"applies to all cols, roughly 50% of rows dropped","(1243, 317)"
4,Fundamentals,Second Null Drop -- columns w/ 20% Null or more.,"[cld2, cld3, cld4, cld5, cshr, dd3, dd4, dd5, ...","(1243, 272)"

In [695]:
# Export Cleaned Data to CSV
fundamentals.to_csv(trimmedCSVPath+'fundamental_cleaned.csv') # Export Trimmed Data